.home{
    border-bottom: 1px solid gold;
    background: rgb(2, 2, 2);
    padding: 20px;
    text-align: center;
    color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
.bookAppointment{
    border-bottom: 1px solid gold;
    background: rgb(2, 2, 2);
    padding: 20px;
    text-align: center;
    color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer
}    

.shop{
    border-bottom: 1px solid gold;
    background: rgb(2, 2, 2);
    padding: 20px;
    text-align: center;
    color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search{
    border-bottom: 1px solid gold;
    background: rgb(2, 2, 2);
    padding: 20px;
    text-align: center;
    color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cart{
    border-bottom: 1px solid gold;
    background: rgb(2, 2, 2);
    padding: 20px;
    text-align: center;
    color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fas:hover{
    color:gold
}

body{
      background: rgb(3, 3, 3);
      color: snow
}

.header{
    box-shadow: 0 4px 8px 0 gold, 0 6px 20px 0 rgb(245, 245, 114);
}

#modal-mask {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 80%;
    justify-content: center;
    align-items: center;
    display: none;
  }

  #modal {
    width: 900px;
    height: 600px;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 gold, 0 6px 20px 0 yellow;
    text-align: center;
    padding-top: 30px;
  } 

  #modal-close{
      margin-top: 450px;
  }